---
import BodyCard from "./BodyCard.astro";
import CharacterCard from "./CharacterCard.astro";
import { getBodyById, getCharacterById } from "../lib/cards";

const body = getBodyById("body_aggro_001");
const sampleChar1 = getCharacterById("char_aggro_015");
const sampleChar2 = getCharacterById("char_aggro_001");
---
<div class="hero-showcase" aria-label="卡牌预览">
  {body && <div class="hero-showcase__card"><BodyCard body={body} compact /></div>}
  {sampleChar1 && <div class="hero-showcase__card"><CharacterCard character={sampleChar1} compact /></div>}
  {sampleChar2 && <div class="hero-showcase__card"><CharacterCard character={sampleChar2} compact /></div>}
</div>
