---
import Layout from "../../components/Layout.astro";
import MegaCard from "../../components/MegaCard.astro";
import { allMegas } from "../../lib/cards";
---
<Layout title="Mega 牌">
  <div class="page-container">
    <h1 class="section-title text-[var(--color-accent-gold)]">Mega 牌</h1>
    <div class="card-grid">
      {allMegas.map((m) => <MegaCard mega={m} />)}
    </div>
  </div>
</Layout>
